<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>An aspiring data scientist actively looking for full time opportunities starting from May 2018 in the field of data science and analytics to apply my skills and help organizations make better decisions. At present, I'm pursuing masters in Information Technology at the University of North Carolina at Charlotte.
	<br><br>
	<center>
	    <a class="button" href="https://drive.google.com/file/d/1-_1fG6fosJt_23TZwNwpsZpVpgpfpavT/view?usp=sharing" target="_blank">Download Resume</a>
	</center></p>
</div><!--//summary-->
</section><!--//section-->
