<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I have a passion for Data Science and an unquenchable thirst for knowledge. I believe that “Data is useless by itself, data is only useful when you apply it.” I love applying statistical and analytical techniques to data and like exploring several approaches to build a perfect model. At present, I'm working as a 'Senior BI Engineer' at XPO Logistics, Inc.
	<br><br>
	<center>
	    <a class="button" href="https://drive.google.com/file/d/1EMDpvWH4Li8UG3Neb4DH8FsBimQgF6r2/view?usp=sharing" target="_blank">Download Resume</a>
	</center></p>
</div><!--//summary-->
</section><!--//section-->
