<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-certificate"></i>Certifications</h2>
	
	
		<div class="item">
            <div class="meta">
				<a href="https://www.coursera.org/account/accomplishments/verify/Z7N3YVSLJL2A" target="_blank">
				<img src="https://jobs.sciencecareers.org/getasset/411877bb-16b1-425f-bb87-32adfb8d25fb/" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Data Science in Python</h3>
                </div><!--//upper-row--></a>
                <div class="company">Coursera - License Number Z7N3YVSLJL2A</div>
            </div><!--//meta-->
        </div><!--//item-->
                
        <div class="item">
            <div class="meta">
				<a href="https://www.coursera.org/account/accomplishments/verify/QKQY6AKJSS72" target="_blank">
				<img src="https://www.philanthropy.com/img/photos/biz/photo_81689_original.jpg" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">R Programming</h3>
                </div><!--//upper-row--></a>
                <div class="company">Coursera - License Number QKQY6AKJSS72</div>
            </div><!--//meta-->
        </div><!--//item-->
		
		<div class="item">
            <div class="meta">
				<a href="https://www.coursera.org/account/accomplishments/verify/SU56XC5A3WQV" target="_blank">
				<img src="https://www.philanthropy.com/img/photos/biz/photo_81689_original.jpg" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Getting and Cleaning Data</h3>
                </div><!--//upper-row--></a>
                <div class="company">Coursera - License Number SU56XC5A3WQV</div>
            </div><!--//meta-->
        </div><!--//item-->
		
		
		<div class="item">
            <div class="meta">
				<a href="https://www.coursera.org/account/accomplishments/verify/5QQUELPAXT99" target="_blank">
				<img src="https://rival-assets.s3.amazonaws.com/BJJo7i3q-Rival-Duke-Logo.png" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Managing Big Data with MySQL</h3>
                </div><!--//upper-row--></a>
                <div class="company">Coursera - License Number 5QQUELPAXT99</div>
            </div><!--//meta-->
        </div><!--//item-->
		
		
		<div class="item">
            <div class="meta">
				<a href="https://www.coursera.org/account/accomplishments/verify/5QQUELPAXT99" target="_blank">
				<img src="https://rival-assets.s3.amazonaws.com/BJJo7i3q-Rival-Duke-Logo.png" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Mastering Data Analysis in Excel</h3>
                </div><!--//upper-row--></a>
                <div class="company">Coursera - License Number 5QQUELPAXT99</div>
            </div><!--//meta-->
        </div><!--//item-->
		

		<div class="item">
            <div class="meta">
				<a href="https://www.youracclaim.com/badges/d1a12c35-f1d7-466a-97bf-e49ab0e9e5a2" target="_blank">
				<img src="https://cdn.vox-cdn.com/thumbor/NeSo4JAqv-fFJCIhb5K5eBqvXG4=/7x0:633x417/1200x800/filters:focal(7x0:633x417)/cdn.vox-cdn.com/assets/1311169/mslogo.jpg" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Perform Cloud Data Science with Azure Machine Learning</h3>
                </div><!--//upper-row--></a>
                <div class="company">Microsoft - License Number G881-5224</div>
            </div><!--//meta-->
        </div><!--//item-->
		
		
		<div class="item">
            <div class="meta">
				<a href="https://drive.google.com/file/d/1jD5wxOFS_fwtQXl6Lj_XFKZEZ8Gv7eD-/view?usp=sharing" target="_blank">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXGa07tTpiDcyH9If-sGZqDIkKSffecJT3bwriCwSXCS9iPZkq" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Google Analytics Individual Qualification</h3>
                </div><!--//upper-row--></a>
                <div class="company">Google Academy - Academy for Ads</div>
            </div><!--//meta-->
        </div><!--//item-->
		
		
		<div class="item">
            <div class="meta">
				<a href="https://drive.google.com/file/d/1kK_sHkCbOg9jsSgA_uwlOwNKYa4kCp0g/view?usp=sharing" target="_blank">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXGa07tTpiDcyH9If-sGZqDIkKSffecJT3bwriCwSXCS9iPZkq" width="150" height="45" align="left"/>
				<div class="upper-row">
                <h3 class="job-title">Advanced Google Analytics</h3>
                </div><!--//upper-row--></a>
                <div class="company">Google Academy - Academy for Ads</div>
            </div><!--//meta-->
        </div><!--//item-->
		
		
</section><!--//section-->
