<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-certificate"></i>Certifications</h2>
                
                <div class="item">
                    <div class="meta">
			    <a href="https://www.coursera.org/account/accomplishments/verify/QKQY6AKJSS72" target="_blank">
					<img src="https://www.philanthropy.com/img/photos/biz/photo_81689_original.jpg" width="75" height="40" align="left"/>
               <div class="upper-row">
                            <h3 class="job-title">R Programming</h3>
                        </div><!--//upper-row--></a>
                        <div class="company">Coursera - License Number QKQY6AKJSS72</div>
                    </div><!--//meta-->
                </div><!--//item-->
</section><!--//section-->
