<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experiences</h2>
                
	
                <div class="item">
                    <div class="meta">
			    <img src="https://image.ibb.co/emPF7e/Syntelli_Logo.png" width="75" height="40" align="left"/>  
                        <div class="upper-row">
                            <h3 class="job-title">Associate Analyst - Data Science</h3>
                            <div class="time">Jun 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Syntelli Solutions Inc.</div>
                    </div><!--//meta-->
                    <div class="details">
						<p style="text-align:justify">•	Developed interactive Power BI reports for executive management by pulling data from Azure SQL database and Intervals APIs to monitor resources, manage alerts and to detect trends in the billable utilization percentages over time.</p>
						<p style="text-align:justify">•	Performed Twitter Sentiment Analysis using Python on a client’s product data & compared it to their competitors to come up with gap analysis. Built dashboards using Tableau for providing analysis report.</p>
						<p style="text-align:justify">• Worked on formulating an IT guide for a client after doing a deep-dive analysis of their business process.</p>
                    </div><!--//details-->
                </div><!--//item-->
	
	
	
                <div class="item">
                    <div class="meta">
			    <img src="http://www.filzdesigns.com/images/uncc-logo.jpg" width="75" height="40" align="left"/>  
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Teaching Assistant - HCI</h3>
                            <div class="time">Aug 2017 - May 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">University of North Carolina at Charlotte</div>
                    </div><!--//meta-->
                    <div class="details">
						<p style="text-align:justify">•	Assisting the professor with classroom instruction, exams, record keeping, and other miscellaneous projects.</p>
						<p style="text-align:justify">•	Delivering Lectures and preparing materials needed for classes, including texts and videos.</p>
						<p style="text-align:justify">•	Grading Assignments, homework, class and project activity.</p>
						<p style="text-align:justify">•	Meeting students during office hours to tutor/mentor them.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
			    <img src="https://s3-ap-southeast-1.amazonaws.com/expanion-industry-logos/inautix.jpg" width="75" height="40" align="left"/>
                        <div class="upper-row">
                            <h3 class="job-title">Data Analyst/ Scientist</h3>
                            <div class="time">Jun 2015 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">iNautix Technologies, A Bank of New York Mellon company</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">EXPERTISE: ETL operations on Data (Complex SQL queries)--> Interpret & Analyze the results using statistical techniques (MS EXCEL, SQL)--> Provide ongoing reports and display in Front-End Dashboards (Tableau, JavaScript, HTML, CSS, AngularJS, jQuery)</p><br>
						<p style="text-align:justify">Project : 'BDS Support Tool' – A Support tool for monitoring Broker Dealer Services functioning of Bank of New York Mellon (BNYM).</p>
						<p style="text-align:justify">•	Interpreted & analyzed the results of market trade data, built models and solved business use cases using statistical techniques and
communicated the findings to stakeholders in simple terms with effective visualizations using Tableau.</p>
						<p style="text-align:justify">• Identified data quality issues and used MS EXCEL to audit data using pivot tables, vlookup, formulas, conditional formatting across all the file types.</p>
						<p style="text-align:justify">• Implemented Text Mining in Python to obtain patterns in filing of fraudulent claims.</p>
						<p style="text-align:justify">• Built Decision trees for identifying profitable and non-profitable customers.</p>
						<p style="text-align:justify">• Responsible for analyzing, building models and solving Business use cases using appropriate Statistical and Machine Learning Techniques and communicate the findings to stakeholders in simple terms with effective visualizations.</p>
						<p style="text-align:justify">•	Created an important plug-in using Python and SQL that successfully monitors and alerts if there is a process failure and if the batch files have not been received/ received late in the day, thereby effectively decreasing the occurrence of P1 issue.</p>
						<p style="text-align:justify">•	Built a classification model that predicts high risk trade transactions and clients who are less safe to have trading with help of historical data.</p>
						<p style="text-align:justify">•	Responsible for creating and maintaining a database of client and security level data with a goal of initiating trade ideas, assist in the formulation of strategy and to monitor/analyze risk buckets.</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
                
                <div class="item">
                    <div class="meta">
			    <img src="https://s3-ap-southeast-1.amazonaws.com/expanion-industry-logos/inautix.jpg" width="75" height="40" align="left"/>
                            <div class="upper-row">
                            <h3 class="job-title">Data Analyst Intern</h3>
                            <div class="time">Sep 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">iNautix Technologies, A Bank of New York Mellon company</div>
                    </div><!--//meta-->
                    <div class="details">
						 <p style="text-align:justify">•	Acquired knowledge on Financial servicing and US Financial markets.(Completed Level Zero Certifications in Financial Markets) </p>
						 <p style="text-align:justify">•	Learnt risk management and behavioral finance principles to understand the functioning of securities, insurance, and banking industries.</p>
			    			 <p style="text-align:justify">•	Worked closely with performance and risk analysts and report developers to research and review data quality and confirm data accuracy.</p>
						 <p style="text-align:justify">•	Manage and monitor inbound data files from the affiliates & outbound feeds to repository.</p>
						 <p style="text-align:justify">•	Data manipulation using SQL and designed dashboards using Tableau to study trends in data that helped improve client service.</p>
</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
