<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Data Analysis</li>
<li>Predictive Modeling</li>
<li>Natural Language Processing</li>
<li>Data Mining</li>
<li>Front-end Development</li> 
</ul>
  <br>
  <br>
<h2 class="container-block-title">Courseworks</h2>
<ul class="list-unstyled interests-list">
<li>Applied Databases</li>
<li>Knowledge Discovery from Databases</li>
<li>Business Intelligence and Analytics</li>
<li>Advanced Business Analytics</li>
<li>Cloud Computing for Data Analysis</li> 
<li>Modern Data Science Systems</li>
<li>Software System Design and Implementation</li>
<li>Principles of Human Computer Interaction</li>
<li>Network Based Application Development</li>
<li>Principles of Information Security and Privacy</li>
</ul>
</div><!--//interests-->
