<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Academic & Personal Research Projects</h2>
                <div class="intro">
                    <p style="text-align:justify">Over the past few years I have worked on the following academic and personal projects. They are predominently in the fields of data science, machine learning and big data analytics. For work samples, click the respective titles.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/HRPredictiveAnalysis" target="_blank">HR Predictive Modeling Data Analytics<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">•	Applied Predictive Data Analytics on Attrition, Abseenteeism and Time to hire data from Continental AG. Used R and Excel for Data cleaning.<br>
					•	Decision Trees, Logistic Regression and Random Forest were implemented on the data to come up with models and predictions.<br>
					•	An Interactive dashboard with python framework dash by plotly was coded and deployed and ran on Heroku for external access. <a href = "https://my-dash-hrpred2.herokuapp.com/" target="_blank"> Click here to view the dashboard<br></a>
					<b><i> Tools Used: Python, R, plotly, Excel and Tableau <br>
					Techniques Used: Exploratory Data Analysis, Predictive Analysis, Regression Analysis, Decision Trees, Random Forest, Plotly & Tableau Visualization.</b></i></p>
					</span>
                </div><!--//item-->
				
				
                <div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/Surprising-Discoveries-Health-Information" target="_blank">Surprising Discoveries for Online Health Information<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">•	A pre-defined word vector trained on medical documents was obtained and cosine similarity between the sentence vectors were calculated.<br>
					•	An API based on distributional similarity, Latent Semantic Analysis and semantic relations extracted from wordnet was used to find the similarity between two sentences, 25% of maximum cosine similarity in a document was set as threshold and surprising scores were calculated.<br>
					•	An LDA model was constructed  top 20 topics were extracted; also Word2Vec training was done to come up with word embeddings.<br>
					<b><i>Tools Used: Python, Jupyter Notebook, genism, tensorflow <br>
					Techniques Used: Exploratory Data Analysis, Cosine Similarity, Latent Dirichlet Allocation, Latent Semantic Analysis & Word Embedding.</b></i></p>
					</span>
                </div><!--//item-->
				
				
                <div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/HHUSA-client-management" target="_blank">Hire Heroes USA Client Management<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">•	Applied Big Data and Analytics techniques to help a non-profit organization HHUSA, better understand and optimize factors that affect their client management process, staff activities and the employment opportunities offered to veterans.<br>
					•	Text mining was used to generate features and predictive modelling techniques were used to model the quantities of interest.<br>
					<b><i>Tools Used: SAS, R, Excel and Tableau <br>
					Techniques Used: Exploratory Data Analysis, Predictive Analysis, Regression Analysis, Text Mining, Decision Trees, Tableau Visualization.</b></i></p>
					</span>
                </div><!--//item-->
				
				
				<div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/PySpark-iris-flower-classification" target="_blank">Iris Flower Classification<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">•	The nominal class attributes were dummy coded to 0 and 1 to perform logistic regression.<br>
					•	The data was split in the ratio 0.7:0.3 to train and test sets for model building and testing.<br>
					•	The model built on LogisticRegressionWithLBFGS algorithm was then evaluated on the following metrics: accuracy score, precision and recall.
					<b><i>Tools and Technologies: Apache Spark, Databricks CE, MLLib <b><i>
					</span>
                </div><!--//item-->
				
				
                <div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/Indexing-and-Retrieving-on-Cloud-Platforms" target="_blank">Indexing Wikidumps on Cloud Platforms<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">•	Implemented ELK Stack on Google Cloud Platform and Amazon Web Service and SOLR on Microsoft Azure.<br>
					•	Designed a Chatbot that allows users to have easy interactions and for fast retrieval of Wikipedia documents using ELK Stack and SOLR.
					 <b><i>Technologies Used: Elasticsearch, Logstash, Kibana, SOLR, Deep Neural Network </b></i></p>
					</span>
                </div><!--//item-->
				
				
                <div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/Sentimental-Analysis-of-TwitterData" target="_blank">Sentimental Analysis of Twitter Data - Social Media Reaction towards muslims<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">Analyzed social media reaction towards Muslims by mining recent tweets of people living in USA’s various cities following GOP front runner Donald Trump’s controversial statements<br>

					• Tweets crawled using the R code were pre-processed to create a corpus for analysis by removing the stop words, misc words and twitter handles.<br>
					• Sentiment Analysis was then performed on the corpus to understand, the sentimental influence of the controversial comments made on the Muslims. Sentiment scores were calculated to know the sentiment of the tweets that had humanity in them.
					 <b><i>Techniques & Tools Used: R, twitteR Lib, base64enc package </b></i></p>
					</span>
                </div><!--//item-->
				
				
                <div class="item">
                    <span class="job-title"><a href="https://github.com/VenkateshUV/EMR_Outpatient_Clinic" target="_blank">An Electronic Medical Record for an Outpatient Clinic<img id="comp-jcobz1jm0imageimageimage" alt="github" data-type="image" src="https://static.wixstatic.com/media/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png/v1/fill/w_39,h_39,al_c,usm_0.66_1.00_0.01/b5be42_5e56eae51f734438b727df3a760e4e35~mv2.png" style="width: 19px; height: 19px; object-fit: cover;"></a></span> <br><br>
					<span class="project-tagline">
					<p style="text-align:justify">•	Designed and developed a complete OLTP database for an Outpatient Clinic that can efficiently store, retrieve, manipulate, and query records. <br>
					•	Implemented Authentication and Role based access control to all the data tables & used views and indexes for easy data access.
					<b><i>Tools Used: MySQL </b></i></p>
					</span>
                </div><!--//item-->
				

</section><!--//section-->
