---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<script>
var vid = document.getElementById("video-background");

    vid.playbackRate = 0.25;
</script> 
    
<body>
    <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://videos.pond5.com/keywords-artificial-intelligence-black-footage-075845208_main_xxl.mp4" type="video/mp4">
    </video>
    <div class="wrapper">
        {% include sidebar.html %}
        
        <div class="main-wrapper">
           
           {{content}}
            
        </div><!--//main-body-->
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
        
</body>
</html> 

